language: python

python:
  - '3.8'
  - '3.7'
  - '3.6'

env:
  - INSTALL=travis/linter-setup.sh SCRIPT=travis/linter-run.sh
  - INSTALL=travis/tox-setup.sh SCRIPT=travis/tox-run.sh

services:
  - mysql

before_script:
  - bash $INSTALL

script:
  - bash $SCRIPT

deploy:
  provider: pypi
  user: __token__
  password:
    secure: v380+BEoy5eUQeNfY5I5v5sOOZvJ0gtnyQTuWSI5HVUBkRZ+PdyZGF96AZbf45Xj+eVn1f5iJorB49TkP/9Ucgr4jlCUahsK0g6rzpUxXtla1HX7/QZaHNY4Ni5V3w8fBOksBnNgElrkrhAkRd19YF6XkiIboedevtQUw72hNqsvNmvyBK5bdKOJE0KM+AeCPL0O40J/Ljvq0eY10T0M8oWOoM3Jz43umfFqBYUOt6aBiKmARtxIEmAvpHInNHI5xHB5EQRngSy8tP9cpCeipGp9uyiuVXcaWrFpoluUCwjuKvPoXQutoPPG2D+dAxfoM8byYx/P29pSVURaQ4rnT9jPZOevongLgG0lYwTCD5XvoNIxICY3RRa0vi2cM179oxVGCU8O8wp1f4JkaOLu0Yh0ot0QShTLZ/FlCicm/CGmzlNSTn9q8g3RJ35dnwlZq+ZDoJtvNigZ5MpDy1UadaCJEeE4eFs0eYbbJDe/ZUd519vkm3iNhJtiE6ZAWM1cBgvVWCVzbiKL5z4OTwFHuGsot/tM91T8ZYOHdCOIlX4YS03qzSJS+QttMntAseoMLy0l+VVcrNBwRCbIJ+iSjTOfOFb+juKmTq0HUbThkvSlgol62mPGLupRBpPpzUbgOPaKiq7qFUmIcvW6PgHDWOyAXHP/CAIcOzvlKwTXyOg=
  skip_existing: true
  on:
    tags: true
